<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cookbook{% endblock %}</title>
    <meta name="description" content="{% block description %}A collection of recipes we like.{% endblock %}">
     <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <style>
      *,*:after,*:before{box-sizing:border-box}body{font-family: "Atkinson Hyperlegible",consolas,menlo,monaco,monospace;margin:10px auto;max-width:960px;font-size:1.5em;color:#444;background-color:#FEFCF9;padding:20px;}a{color:#07c;}input{font-family:consolas,menlo,monaco,monospace;font-size:1.2em;width:100%;border:2px solid #ccc;border-radius:5px;}h3{margin-bottom:0;}p.prep-time{font-style:italic;}p.suggestions{font-size:0.5em;}h1,h2{margin:0;}h1.cookbook{text-align:center; margin-bottom: 15px;}h2.recipe-result{margin-top:20px;font-size: 1.2em;}div.tag{display:inline-block;background-color:#ddf1ff;padding:5px;font-size:0.5em;user-select: none;}@media print{body{font-size:1em;background-color:white;}div#extra{display:none;}div.recipe{border: none;}p.home{display:none;}a{color: #444;text-decoration:none;}div.tags{display:none;}}
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>