{% extends 'recipes/base.html' %}

{% block content %}
<div class="recipe-search">
  <h1 class="cookbook">Cookbook</h1>
  <input type="text" id="search" />
  <p class="suggestions">Examples: <a href="#" class="example">Pasta</a>, <a href="#" class="example">Dessert</a>, <a href="#" class="example">Crockpot</a></p>
  <div class="recipe-list">
    {% for r in recipes %}
    <h2 class="recipe-result" data-keywords="{{ r.searchterms }}">
      <a href="{% url 'detail' r.slug %}">{{ r.title }}</a>
    </h2>
    {% endfor %}
  </div>
</div>

<style id='search_style'></style>

<script>

  var search_style = document.getElementById('search_style');

  function search(txt) {
    if (!txt) {
      search_style.innerHTML = '';
    } else {
      search_style.innerHTML = '.recipe-result:not([data-keywords*="' + txt.toLowerCase() + '"]) { display: none; }';
    };
  }

  var searchbox = document.getElementById('search');

  searchbox.addEventListener('keyup', function() {
    search(this.value);
  });

  var examples = document.querySelectorAll('a.example');
  for (var i=0; i<examples.length; i++) {
    examples[i].addEventListener('click', function() {
      searchbox.value = this.textContent;
      search(searchbox.value);
    })
  }
</script>
{% endblock %}