{% extends 'recipes/base.html' %}

{% block title %}{{ tag.name }}{% endblock %}
{% block description %}Recipe category: {{ tag.name|lower }}{% endblock %}

{% block content %}
  <p class="home"><a href="{% url 'recipe_list' %}">&xlarr; Search</a></p>
  <div class="recipe">
    <h1>{{ tag.name }}</h1>
    {% if tag.recipe_set.all %}
      <ul>
      {% for recipe in tag.recipe_set.all %}
        <li><a href="{% url 'recipe_detail' recipe.slug %}">{{ recipe.title }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}